body{

}   

header{
    background-color: red;
}

.header{
    display: flex;
    flex: 100%;
    font-size: 200%;
}

.highScoreHeader{
    flex: 80%;
    text-decoration: none;
    margin-left: 2%;
 
}

.highScoreLink{
    color: black;
}

.timer{
    flex: 2%;
    margin-right: 2%;
}

.startPage{
    text-align: center;
    margin: 8%;
    font-size: 200%;
}

.startPageTitle{
    font-size: 200%;
}

.quizRules{

}

.startButton{
    font-size: 100%;
}



footer{
    text-align: center;
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 15%;
}   

.footer{

}

.restartButton{
    font-size: 150%;
}