body{

}   

header{
    background-color: red;
}

.header{
    display: flex;
    flex: 100%;
    font-size: 200%;
}

.highScoreHeader{
    flex: 80%;
    text-decoration: none;
    margin-left: 2%;
 
}

.highScoreLink{
    color: black;
}

.timer{
    flex: 2%;
    margin-right: 2%;
}

.startPage{
    text-align: center;
    margin: 8%;
    font-size: 200%;
}

.startPageTitle{
    font-size: 200%;
}

.startButton{
    font-size: 100%;
}

.currentQuestion{
    display: flex;
    font-size: 400%;
    justify-content: center;
    margin-top: 8%;
    margin-bottom: 5%;
}
.answerButtonSection{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-right: 45%;
    margin-left: 45%;


}

.answerButtons{
    display: flex;
    justify-content: center;
    font-size: 200%;
    margin-top: 10%;

}

footer{
    display: flex;
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 5%;
    margin: 1%;
}   

.footer{

}

.restartButton{
    font-size: 200%;
}